.orderDetails {
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  background-color: rgb(247, 251, 255);
  border-left: 2px solid rgb(231, 231, 231);
  border-right: 2px solid rgb(231, 231, 231);
  padding: 30px 40px;
  & h1 {
    margin: 0;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 500;
    & span {
      font-weight: 300;
    }
  }
  & table {
    margin-top: 20px;
  }
}

.rightAllign {
  width: 100%;
  & h1 {
    display: flex;
    justify-content: end;
  }
}

.back {
  cursor: pointer;
  font-weight: 900;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
  &:hover {
    text-decoration: none;
  }
}