.loginWrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  align-items: center;
  border: 1px solid cyan;
  padding: 10px;
  max-width: 500px;
  width: 100%;
  transform: translateY(-50%);
}
h2 {
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  line-height: 25px;
}