header {
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: white;
}

.wrapper {
  box-sizing: border-box;
  padding: 10px 40px;
  border-bottom: 2px solid lightblue;
  display: flex;
  justify-content: space-between;
}

.rightSide {
  display: flex;
}